// sass src/sass/styles.sass src/css/style.min.css

* 
    text-align: center

header 
    width: 100%

body 
  background-color: #1e1e1e
  font: normal 15px Verdana
  margin: 0px
  padding: 0px

  overflow-x: hidden


#logoName 
    margin: auto
    width: 350px


p, label 
    font-family: 'Comicbon'
    font-size: 18px

/* 1. Quadro */

#msgSpace, #numberSpace 
    margin-bottom: 10px
    padding: 5px


#numberSpace 
    width: 30%
    margin: auto auto 10px auto


.numberBox 
    /* Input */
    margin: 0px
    width: 50px
    padding: 5px
    border-radius: 10px
    outline: none


/* 3. Personagens */


/* 4. Inferior do Quadro */

#item1 
    /*___Tentativas___*/
    text-align: left
    font-family: 'Funkie'


.tryTimes 
    /*___Tentativas___*/
    color: rgba(240, 248, 255, 0.900)
    font-family: 'Funkie'
    font-size: 20px
    text-align: left
    color: #3d2600
    margin-bottom: 0px


/* 5. Abaixo do Quadro */

footer 
  font-size: 10px
  color: rgba(240, 248, 255, 0.471)
  text-align: center
  font-style: italic
  margin: 10px

a 
    color: rgba(240, 248, 255, 0.471)
    text-decoration: none
    transition: 0.3s


a:hover 
    color: rgba(240, 248, 255, 0.842)


/* 6. Media Queries */

@media screen and (max-width: 940px) 
    section 
        width: 80%
    


@media screen and (max-width: 730px) 
    .cht 
        scale: 80%
        position: relative
    


@media screen and (max-width: 480px) 

    #logoName 
        width: 90%
    

    #logoNameDiv 
        width: 90%
    

    section 
        max-width: 90%
    

    footer 
        font-size: 12px
    

    #msgSpace 
        margin: auto auto 5px auto
    

    #numberSpace 
        margin: auto auto 5px auto
    

    /* Objetos */
    .cht 
        scale: 85%
        position: relative
    

    #genius 
        margin-left: 0px
    

    /* Textos */
    p 
        font-size: 18px
    

    #item1 
        font-family: 'Funkie'
    


@media screen and (max-width: 430px) 
    .cht 
        scale: 80%
        position: relative
    

    #item1 
        font-family: 'Funkie'
    

#info 
    color: #ffffffb7
    margin: 20px
