// sass src/sass/styles.sass src/css/style.min.css
// sass src/sass/styles.sass src/css/style.min.css
  
$yellow: #edc949
$blue: #1d4394
$brown:  #3e2600
$white: #fff
$black: #000

$dark-yellow:#85712b
$dark-blue:#132e68

$test-color: #007FFF