/* Tópicos:

1. Quadro.
2. Botão de Tentar.
3. Botão de Reiniciar.
4. Personagens.
5. Inferior do Quadro.
6. Abaixo do Quadro.

*/

Body {
    background-color: #1e1e1e;
    font: normal 15px
     Verdana;
}

header {
    font: normal 14px Verdana;
    color: aliceblue;
    text-align: center;
}

/* Quadro */

section {
    background-image:url("assets/backgroundBlack.png");
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    margin-bottom: 0px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);
}

div {
    font-size: 20px;
    text-align: center;
}

#msg {
    margin-top: 5px;
    margin-bottom: 25px;
    background-color:#1d4394;
    padding: 6px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0)
}

.numberSpace {
    background-color:#1d4394;
    width: 200px; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 6px;
    padding-top: 9px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

.numSpace {
    align-items: center;
    margin: 10%;
    margin-top: 5px;
    margin-bottom: 25px;
}

.numberBox {
    margin: 0px;
    width: 50px;
    padding: 5px;
    border-radius: 10px;
}

@font-face {
    font-family: 'Funkie Bunny';
    src: url('assets/Funkie\ Bunny.ttf') format('truetype');
}

/* Botão de Tentar */

#tryB {
    padding: 8px;
    border-radius: 15px;
    background-color: #edc949;
    font-family: 'Funkie Bunny';
    color: rgb(62, 38, 0);
    font-size: 20px;
}

#tryB:hover {
    padding: 8px;
    border-radius: 15px;
    background-color: rgb(154, 131, 50);
}

#tryB:active {
    padding: 8px;
    border-radius: 15px;
    color: rgb(217, 217, 217);
    background-color: rgb(70, 60, 24);
}

/* Botão de Reiniciar */

#reloadB {
    padding: 8px;
    border-radius: 15px;
    background-color: rgb(237, 201, 73);
    font-family: 'Funkie Bunny';
    color: #3d2600;
    font-size: 20px;
    margin: px;
}

#reloadB:hover {
    background-color: rgb(154, 131, 50);
    color: rgb(62, 38, 0);
}

#reloadB:active {
    color: rgb(217, 217, 217);
    background-color: rgb(70, 60, 24);
}

/* Botão de Reiniciar */

#nextB {
    display: none;
    padding: 8px;
    border-radius: 15px;
    background-color: rgb(76, 68, 58);
    font-family: 'Funkie Bunny';
    color: rgba(217, 217, 217, 0.548);
    font-size: 20px;
}

/* Personagens */

#chts {
    display: inline;
}

.cht {
    margin: 23px;
}

/* Inferior do Quadro */

.container {
    display: flex;
    /* flex-direction: row; */
    justify-content:space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}


#item1 { /*___Tentativas___*/
    text-align: left;
}
.tryTimes {/*___Tentativas___*/
    color: rgba(240, 248, 255, 0.900);
    font-family: 'Funkie Bunny';
    font-size: 20px;
    text-align: left;
    color: #3d2600;
    margin-bottom: 0px;
}

#item2 { /*___Botões___*/
    text-align: center;
}

/* Abaixo do Quadro */

footer {
    font-size: 10px ;
    color: rgba(240, 248, 255, 0.471);
    text-align: center;
    padding: 10px;
    font-style: italic;
}

a {
    color: rgba(240, 248, 255, 0.471);
    text-decoration: none;
}