/* Tópicos:

1. Quadro
2. Botão de Tentar
3. Botão de Reiniciar
4. Perssonagens
5. Abaixo do Quadro

*/

Body {
    background-color: #1e1e1e;
    font: normal 15px
     Verdana;
}

header {
    font: normal 14px Verdana;
    color: aliceblue;
    text-align: center;
}

/* Quadro */

section {
    background-image:url("assets/backgroundBlack.png");
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    margin: auto;
    color: aliceblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);
}

div {
    font-size: 20px;
    text-align: center;
}

#msg {
    margin-top: 5px;
    margin-bottom: 25px;
    background-color:#1d4394;
    padding: 6px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0)
}

.numberSpace {
    background-color:#1d4394;
    width: 200px; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 6px;
    padding-top: 9px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

.numSpace {
    align-items: center;
    margin: 10%;
    margin-top: 5px;
    margin-bottom: 25px;
    
    
}

.numberBox {
    margin: 0px;
    width: 50px;
    padding: 5px;
    border-radius: 10px;
}

@font-face {
    font-family: 'Funkie Bunny';
    src: url('assets/Funkie\ Bunny.ttf') format('truetype');
  }

/* Botão de Tentar */

#tryB {
    padding: 8px;
    border-radius: 15px;
    background-color: #edc949;
    font-family: 'Funkie Bunny';
    color: rgb(62, 38, 0);
    font-size: 20px;
}

#tryB:hover {
    padding: 8px;
    border-radius: 15px;
    background-color: rgb(154, 131, 50);
}

#tryB:focus {
    padding: 8px;
    border-radius: 15px;
    color: rgb(217, 217, 217);
    background-color: rgb(70, 60, 24);
}

/* Botão de Reiniciar */

#reloadB {
    padding: 8px;
    border-radius: 15px;
    background-color: rgb(237, 201, 73);
    font-family: 'Funkie Bunny';
    color: #3d2600;
    font-size: 20px;
    margin: 10px;
}

#reloadB:hover {
    padding: 8px;
    border-radius: 15px;
    background-color: rgb(154, 131, 50);
    font-family: 'Funkie Bunny';
    color: rgb(62, 38, 0);
    font-size: 20px;
    margin: 10px;
}

#reloadB:focus {
    padding: 8px;
    border-radius: 15px;
    color: rgb(217, 217, 217);
    background-color: rgb(70, 60, 24);
}

/* Personagens */

#chts {
    display: inline;
}

.cht {
    margin: 23px;
}

/* Abaixo do Quadro */

footer {
    font-size: 10px ;
    color: rgba(240, 248, 255, 0.471);
    text-align: center;
    padding: 10px;
    font-style: italic;
}

a {
    color: rgba(240, 248, 255, 0.471);
}